#logo {
    margin-left: 20px;
    width: 4%;
}

#navbar-main {
    background-color: white !important;
    border-bottom: solid black;
}

#navbar-text {
    color: black;
    text-transform: uppercase;
}

.nav-item {
    color: black !important;
    text-transform: uppercase;
    font-weight: lighter;
}

.nav-active {
    color: #FF8226 !important;
}
