#notification-form {
    margin: 50px;
    margin-left: 255px;
    margin-right: 255px;
}

#notification-page {
    margin-left: 20px;
}

.btn-submit {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
