<app-navbar></app-navbar>
<div class="header_area">
    <header>
        <button class="btn-nice btn-header" style="max-width: 200px;" (click)="newContest()">Vytvořit soutěž</button>
    </header>
</div>

<table class="table table-main table-main-small">
    <tr class="table-head">
        <th>Vytvořeno</th>
        <th>Konec</th>
        <th>Soutěžní otázka</th>
        <th>Typ soutěže</th>
        <th>Stav</th>
        <th colspan="4"></th>
    </tr>
    <tr *ngFor="let contest of contests; let odd=odd; let even=even;"
        [ngClass]="{ odd: odd, even: even }">
        <td>{{contest.created | date:'d. M. yyyy HH:mm:ss'  }}</td>
        <td>{{contest.finishOn | date:'d. M. yyyy HH:mm:ss'  }}</td>
        <td>{{contest.question }}</td>
        <td>{{utils.mapType(contest.contestType) }}</td>
        <td>
            <span class="state fa" [ngClass]="{'fa-play': contest.status === 'running', 'fa-pause': contest.status === 'paused' , 'fa-stop': contest.status === 'finished'}">
            </span>{{utils.mapState(contest.status)}}
        </td>
        <td>
            <div class="actions">
                <span (click)="showResults(contest.id)" class="fa fa-th"><br><span class="label">Výsledky</span></span>
            </div>
        </td>
        <td>
            <div class="actions">
                <span (click)="modify(contest)" class="fa fa-pencil"><br><span class="label">Upravit</span></span>
            </div>
        </td>
        <td>
            <div class="actions">
                <span (click)="copy(contest)" class="fa fa-copy"><br><span class="label">Duplikovat</span></span>
            </div>
        </td>
        <td>
            <div class="actions">
                <span (click)="delete(contest, templateConfirm)" class="fa fa-trash"><br><span class="label">Smazat</span></span>
            </div>
        </td>
    </tr>
</table>

<ng-template #templateConfirm>
    <div class="modal-title">Smazat soutěž</div>
    <div class="modal-text">Opravdu chcete smazat soutěž "{{contestToDelete.question}}"?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="white-bg btn-small" (click)="deleteConfirmed(templateErr)">Ano</button>
            </td>
            <td>
                <button class="white-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="white-bg btn-small" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>


<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
