<table class="table table-main table-main-small">
    <tr class="table-head">
        <th>Datum</th>
        <th>Titulek</th>
        <th>Popisek</th>
        <!--<th>Test</th>-->
        <th colspan="2"></th>
    </tr>
    <tr *ngFor="let notification of notifications; let index=index; let odd=odd; let even=even;"
        [ngClass]="{ odd: odd, even: even }">
        <td>{{ notification.timestamp * 1000 | date:'d. M. yyyy HH:mm:ss' }}</td>
        <td>{{ notification.title}}</td>
        <td>{{ notification.description | truncate:40}}</td>
        <!--<td *ngIf="notification.test">Ano</td>-->
        <!--<td *ngIf="!notification.test">Ne</td>-->
        <td>
            <div class="table-btns">
                <button class="white-bg" (click)="repeat(notification)">Zopakovat</button>
            </div>
        </td>
        <td>
            <div class="table-btns">
                <button class="white-bg" (click)="delete(notification, templateConfirm)">Smazat</button>
            </div>
        </td>
    </tr>
</table>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>

<ng-template #templateConfirm>
    <div class="modal-title">Smazat notifikaci</div>
    <div class="modal-text">Opravdu chcete smazat notifikaci {{notificationToDelete.title}}?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="white-bg btn-small" (click)="deleteConfirmed(templateErr)">Ano</button>
            </td>
            <td>
                <button class="white-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="white-bg btn-small" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>
