<app-navbar></app-navbar>
<span class="moving-span" id="elementToMove"></span>
<div class="main-content">
    <div class="form-group">
        <label for="contest_type">Typ soutěže</label>
        <select id="contest_type" class="custom-select" [(ngModel)]="contest.contestType">
            <option value="voting">Hlasování</option>
            <option value="rating">Rating</option>
            <option value="text">Text</option>
        </select>
    </div>
    <div class="form-group">
        <label class="compulsory" for="contest_question">* Soutěžní otázka</label>
        <textarea class="form-control" [ngClass]="{'errorField': errors.question}" id="contest_question" [(ngModel)]="contest.question"></textarea>
    </div>
    <ng-template [ngIf]="contest.contestType === 'voting'">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <img src="assets/images/ic_photo_camera_black_24px.svg">
                    </td>
                    <td class="plr-10 tips">
                        <div class="tips-upper">
                            <a *ngIf="contest.image != undefined && contest.image != ''"
                               (click)="openFile(contest.image)">Obrázek</a>
                        </div>
                        <div class="tips-upper" *ngIf="(contest.image == undefined || contest.image == '')">
                            Nahrát úvodní foto:
                        </div>
                        <span style="font-size: 11px">Doporučená velikost 1557x713px</span>
                    </td>
                    <td class="pl-10">
                        <label class="photo-buttons white-bg  button-input">
                            Procházet<input type="file" hidden #pic (change)="photoChange($event, templateErr)">
                        </label>
                    </td>
                    <td class="pl-10">
                        <button *ngIf="contest.image != undefined && contest.image != ''"
                                class="photo-buttons white-bg  button-input" (click)="resetFile()">Smazat
                        </button>
                    </td>
                </tr>
            </table>
            <div *ngIf="contest.image" class="img-area" id="img-area">
                <img src="{{contest.image}}" style="width: auto; height: 100px" id="img">
            </div>
        </div>
        <div class="form-group">
            <span class="compulsory">* Možné odpovědi:</span>
            <input type="text" [ngClass]="{'errorField': errors.answers}" [(ngModel)]="answer">
            <span (click)="addPossibleAnswer()" class="actions fa fa-plus"></span>
            <ul id="answers">
                <li *ngFor="let answer of contest.answers; let i=index">{{answer}} <span
                        (click)="deleteAnswer(i)" class="actions fa fa-remove"></span></li>
            </ul>
        </div>
    </ng-template>


    <ng-template [ngIf]="contest.contestType === 'rating'">
        <div class="form-group">

        </div>
        <table id="photo-answers" [ngClass]="{'errorField': errors.photoAnswers}">
            <tr>
                <td>
                    <span class="compulsory">*</span>
                    <img src="./assets/images/ic_photo_camera_black_24px.svg">
                </td>
                <td class="plr-10 tips">
                    <div class="tips-upper">Fotoodpovědi</div>
                    <span style="font-size: 11px">Doporučená velikost 676x549px</span>
                </td>
                <td class="pl-10">
                    <label class="photo-buttons white-bg  button-input">
                        Přidat fotoodpověď<input type="file" hidden #picGallery
                                                (change)="photoAnswerChange($event, templateErr)"
                                                (click)="reset(picGallery, imgGalleryFile, imgGalleryName)">
                    </label>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td  *ngFor="let pic of contest.photoAnswers; let i = index">
                    <img class="photo-answer" src="{{pic}}"
                         (click)="deletePhotoFromGallery(i, templateConfirmDeletePicture)" width="50px"
                         height="auto">
                </td>
            </tr>
        </table>

    </ng-template>

    <ng-template [ngIf]="contest.contestType === 'text'">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <img src="assets/images/ic_photo_camera_black_24px.svg">
                    </td>
                    <td class="plr-10 tips">
                        <div class="tips-upper">
                            <a *ngIf="contest.photo != undefined && contest.photo != ''"
                               (click)="openFile(contest.image)">Obrázek</a>
                        </div>
                        <div class="tips-upper" *ngIf="(contest.photo == undefined || contest.photo == '')">
                            Nahrát foto:
                        </div>
                        <span style="font-size: 11px">Doporučená velikost 1557x713px</span>
                    </td>
                    <td class="pl-10">
                        <label class="photo-buttons white-bg  button-input">
                            Procházet<input type="file" hidden #pic (change)="photoChange($event, templateErr)"
                                            (click)="reset(pic, imgFile, imgName)">
                        </label>
                    </td>
                    <td class="pl-10">
                        <button *ngIf="contest.image != undefined && contest.image != ''"
                                class="photo-buttons white-bg  button-input" (click)="resetFile()">Smazat
                        </button>
                    </td>
                </tr>
            </table>
            <div *ngIf="contest.image" class="img-area" id="img-area">
                <img src="{{contest.image}}" style="width: auto; height: 100px" id="img">
            </div>
        </div>
    </ng-template>




    <div class="form-group">
        <label for="end-date">Datum ukončení:</label>
        <label id="end-date">
            <input [(ngModel)]="dateTime"
                   attr.placeholder="{{contest.finishOn | date: 'd. M. yyyy H:m'}}"
                   [min]="min"
                   [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
            <span [owlDateTimeTrigger]="dt"><i class="actions fa fa-calendar"></i></span>
            <owl-date-time #dt></owl-date-time>
        </label>
    </div>

    <div class="form-group">
        <label for="contest_question">Stav</label>
        <select id="contest_state" class="custom-select" [(ngModel)]="contest.status" id="contestStateChooser">
            <option value="running">Probíhá</option>
            <option value="paused">Pozastavená</option>
            <option value="finished">Ukončená</option>
        </select>
    </div>




    <div class="w-100 align-center">
        <button class="white-bg  table-button"
                (click)="save(templateErr, templateOk)">Uložit
        </button>
    </div>
</div>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="white-bg btn-small" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<ng-template #templateOk>
    <div class="modal-title">Uloženo</div>
    <div class="modal-text">Soutěž uložena</div>
    <div class="modal-ok-div">
        <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
            <tr>
                <td>
                    <button class="white-bg btn-large" (click)="close()">Jít na soutěže</button>
                </td>
                <td>
                    <button class="white-bg btn-small ml-20" (click)="closeAndReload()">Zavřít</button>
                </td>
            </tr>
        </table>
    </div>
</ng-template>



<ng-template #templateConfirmDeletePicture>
    <div class="modal-title">Smazat obrázek z galerie</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="white-bg btn-small" (click)="deletePhotoConfirmed(templateErr)">Ano</button>
            </td>
            <td>
                <button class="white-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
