/*#contestChooser {*/
    /*width: unset;*/
/*}*/

#answers {
    list-style: none;
}

#photo-answers {
    border-collapse: unset;
}

.errorField {
    border: solid 2px red;
}

.compulsory {
    margin-left: -10px;
}

.photo-buttons {
    padding: 3px;
}

.photo-answer {
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

